:root{
    --cor-de-fundo:#EBECEE;
    --branco: white;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #134f90, 35.49%, #14537f, 165.37%);
    --fonte-principal: "Poppins";
    --azul:#165c91;
    --fonte-secundaria: "Josefin Sans"
    }
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
}
h1{
    background-color: white;
}
@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/rodape.css);
@import url(styles/contato.css);
:root {
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja:#EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002752 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002f52; 
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
}
